extends layout

block main
  .what
    h1 Cosa facciamo
    p
      | Promuoviamo discussioni online e incontri basati su tecnologie,
      | linguaggi e metodi di sviluppo per sviluppatori e disigner che
      | stanno al fronte.
    p
      | Per sapere qual'è il prossimo evento visita&nbsp;
      a(href='http://www.eventbrite.com/o/frontenders-ticino-6095917801') la nostra pagina
      | &nbsp;su Eventbrite.
  include snippets/social
