doctype html
html(dir="ltr", lang="it-it")
  head
    meta(charset="uft-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title FrontEnders Ticino
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu:300,500")
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body.feti
    header.header(role="banner")
      h1
        img.logo(src="img/FrontEnders_Ticino_logo.png", height="45", width="48", alt="Logo")
        | FrontEnders Ticino
    hr
    main(role="main")
      block main
    footer.footer(role="contentinfo")
      | &copy; 2014 FrontEnders Ticino. Tutti i diritti sono riservati.
